@model IEnumerable<BerrasBio.Models.JoinModel>


<h2>@ViewData["title"]</h2>



<table class="table">
    <thead>
        <tr class="text-color">
            <th>Salong</th>
            <th>Starttid</th>
            <th>Platser kvar</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if(item.SeatsLeft == 0)
    {
               <tr class="fullseats">
                 
                    <td>
                        @Html.DisplayFor(modelItem => item.AuditoriumName)
                    </td>
                    <td class="fullsorting">
                        <a asp-action="SelectTime" asp-route-sorting="@ViewData["start"]">@Html.DisplayFor(modelItem => item.Start)</a>
                    </td>
                    <td class="fullsorting">
                        <a asp-action="SelectTime" asp-route-sorting="@ViewData["seatsLeft"]">@Html.DisplayFor(modelItem => item.SeatsLeft)</a>
                
                    </td>
                    <td>
                        <p>Fullt</p>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                 
                    <td>
                        @Html.DisplayFor(modelItem => item.AuditoriumName)
                    </td>
                    <td class="sorting">
                        <a asp-action="SelectTime" asp-route-sorting="@ViewData["start"]">@Html.DisplayFor(modelItem => item.Start)</a>
                    </td>
                    <td class="sorting">
                        <a asp-action="SelectTime" asp-route-sorting="@ViewData["seatsLeft"]">@Html.DisplayFor(modelItem => item.SeatsLeft)</a>
                
                    </td>
                    <td class="booking">
                        <a asp-action="SelectSeat" asp-route-id="@item.ScheduleId">Boka</a>
                    </td>
                  </tr>
            }
        }
    </tbody>
</table>

